[user]
    name = cocobear
    email = cocobear.cn@gmail.com
[core]
    whitespace = cr-at-eol
	autocrlf = input
    saftcrlf = true
	fileMode = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	quotepath = false
[color]
        diff = auto
        status = auto
        branch = auto
[alias]
    dif = difftool --dir-diff
[diff "plist"]
    textconv = plutil -convert xml1 -o -
